<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="container">
        <div>
            <h1>운동 날짜</h1>
        </div>
        
        <table>
        	<tr th:each="num : ${#numbers.sequence(1,5)}">
        		
        		<th:block th:each="day : ${list}">
        			<th:block th:if="${ day != 0}">
        				<td th:text="${day}">
        			<th:block>
        			
        			<th:block th:unless="${day == 0}">
						<td th:text="${day}">
        			<th:block>
        		<th:block>
        	
        	</tr>
        
        </table>
    </div> <!-- /container -->
	<a th:href="@{/}">메인으로</a>
</body>
</html>